
@import 'bulma';

li{
	
	list-style-type: none;
}
#display{
	margin-left: 10px;
	margin-right: 10px;
}
#setting-nav{
	width: 500px;

}
#setting-table{
	width: 500px;
}
#setting{
	width:500px;
}
.button{
	margin: 10px;
}