
@import 'bulma';

li{
	
	list-style-type: none;
}
#style-list{
	width:300px;
	border: 1px solid lightgrey;
}

#display{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	color: lightblue;
}
#setting-nav{
	width: 500px;

}
#setting-table{
	width: 500px;
}
#setting{
	width:500px;
}
.button{
	margin: 10px;
}